@use '@angular/material' as mat;
@use './theme';
@import "../../dm-styles/dm-styles";

:root {
    --app-sidenav-content-max-width: 100%;
    --app-header-height: 50px;
    --app-sidenav-content-padding: 30px;
    --app-sidenav-menu-width: 250px;
    --app-sidenav-menu-item-padding: 10px;
    --app-sidenav-menu-item-margin: 8px;
    --app-border-radius: 4px;
}

@media (min-width: 1400px) {
    :root {
        --app-sidenav-content-max-width: 1400px;
    }
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100vh - var(--app-header-height));
    font-family: Roboto, "Helvetica Neue", sans-serif;

    *, *:before, *:after {
        box-sizing: border-box;
    }

    @include mat.core();

    $primary-palette: mat.$indigo-palette;
    $accent-palette: mat.$light-blue-palette;
    $warn-palette: mat.$red-palette;

    @include theme.define((
        color: (
            primary: mat.define-palette($primary-palette),
            accent: mat.define-palette($accent-palette, 600),
            warn: mat.define-palette($warn-palette),
        ),
        typography: mat.define-typography-config(),
        density: 0,
    ), false);

    &.dark {
        @include theme.define((
            color: (
                primary: mat.define-palette($primary-palette, 300),
                accent: mat.define-palette($accent-palette),
                warn: mat.define-palette($warn-palette),
            ),
            typography: mat.define-typography-config(),
            density: 0,
        ), true, true);
    }
}

ul li {
    margin: 8px 0;
}
