@use '@angular/material' as mat;
@use './theme';

@include mat.core();

:root {
    --app-sidenav-content-max-width: 100%;
    --app-header-height: 50px;
    --app-sidenav-content-padding: 30px;
    --app-sidenav-menu-width: 250px;
    --app-sidenav-menu-item-padding: 10px;
    --app-sidenav-menu-item-margin: 8px;
    --app-sidenav-menu-item-border-radius: 4px;
}

@media only screen and (min-width: 1400px) {
    :root {
        --app-sidenav-content-max-width: 1400px;
    }
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100vh - var(--app-header-height));
    font-family: Roboto, "Helvetica Neue", sans-serif;

    $primary-palette: mat.define-palette(mat.$indigo-palette, 500);
    $accent-palette: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);
    $warn-palette: mat.define-palette(mat.$red-palette);
    @include theme.material-components(mat.define-light-theme((
        color: (
            primary: $primary-palette,
            accent: $accent-palette,
            warn: $warn-palette,
        ),
        typography: mat.define-typography-config(),
        density: 0,
    )));

    --app-sidenav-menu-active-hover-background: #{mat.get-color-from-palette($primary-palette)};
    --app-sidenav-menu-active-hover-color: #{mat.get-color-from-palette($primary-palette, 'default-contrast')};
    --app-color-warn: #{mat.get-color-from-palette($warn-palette)};
    --app-color-primary: #{mat.get-color-from-palette($primary-palette)};

    &.dark {
        $primary-palette: mat.define-palette(mat.$indigo-palette, 400);
        $accent-palette: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);
        $warn-palette: mat.define-palette(mat.$red-palette);
        @include theme.material-components-colors(mat.define-dark-theme((
            color: (
                primary: $primary-palette,
                accent: $accent-palette,
                warn: $warn-palette,
            ),
            typography: mat.define-typography-config(),
            density: 0,
        )));

        --app-sidenav-menu-active-hover-background: #{mat.get-color-from-palette($primary-palette)};
        --app-sidenav-menu-active-hover-color: #{mat.get-color-from-palette($primary-palette, 'default-contrast')};
        --app-color-warn: #{mat.get-color-from-palette($warn-palette)};
        --app-color-primary: #{mat.get-color-from-palette($primary-palette)};
    }
}
