@use "sass:map";
@use '@angular/material' as mat;

@mixin define($themeConfig, $darkTheme, $colorsOnly) {
    $matTheme: null;
    $primary-palette: map.get($themeConfig, 'color', 'primary');
    $accent-palette: map.get($themeConfig, 'color', 'accent');
    $warn-palette: map.get($themeConfig, 'color', 'warn');

    @if $darkTheme {
        $matTheme: mat.define-dark-theme($themeConfig);
    } @else {
        $matTheme: mat.define-light-theme($themeConfig);
    }

    --app-color-primary: #{mat.get-color-from-palette($primary-palette)};
    --app-color-primary-lighter: #{mat.get-color-from-palette($primary-palette, 'lighter')};
    --app-color-primary-darker: #{mat.get-color-from-palette($primary-palette, 'darker')};
    --app-color-primary-contrast: #{mat.get-color-from-palette($primary-palette, 'default-contrast')};

    --app-color-accent: #{mat.get-color-from-palette($accent-palette)};
    --app-color-accent-lighter: #{mat.get-color-from-palette($accent-palette, 'lighter')};
    --app-color-accent-darker: #{mat.get-color-from-palette($accent-palette, 'darker')};
    --app-color-accent-contrast: #{mat.get-color-from-palette($accent-palette, 'default-contrast')};

    --app-color-warn: #{mat.get-color-from-palette($warn-palette)};
    --app-color-warn-lighter: #{mat.get-color-from-palette($warn-palette, 'lighter')};
    --app-color-warn-darker: #{mat.get-color-from-palette($warn-palette, 'darker')};
    --app-color-warn-contrast: #{mat.get-color-from-palette($warn-palette, 'default-contrast')};

    @if not $colorsOnly {
        @include mat.core-theme($matTheme);
        @include mat.card-theme($matTheme);
        @include mat.select-theme($matTheme);
        @include mat.option-theme($matTheme);
        @include mat.tabs-theme($matTheme);
        @include mat.button-theme($matTheme);
        @include mat.icon-button-theme($matTheme);
        @include mat.input-theme($matTheme);
        @include mat.checkbox-theme($matTheme);
        @include mat.autocomplete-theme($matTheme);
        @include mat.chips-theme($matTheme);
        @include mat.menu-theme($matTheme);
        @include mat.toolbar-theme($matTheme);
        @include mat.sidenav-theme($matTheme);
        @include mat.form-field-theme($matTheme);
        @include mat.list-theme($matTheme);
        @include mat.table-theme($matTheme);
    }

    @include mat.core-color($matTheme);
    @include mat.card-color($matTheme);
    @include mat.select-color($matTheme);
    @include mat.option-color($matTheme);
    @include mat.tabs-color($matTheme);
    @include mat.button-color($matTheme);
    @include mat.icon-button-color($matTheme);
    @include mat.input-color($matTheme);
    @include mat.checkbox-color($matTheme);
    @include mat.autocomplete-color($matTheme);
    @include mat.chips-color($matTheme);
    @include mat.menu-color($matTheme);
    @include mat.toolbar-color($matTheme);
    @include mat.sidenav-color($matTheme);
    @include mat.form-field-color($matTheme);
    @include mat.list-color($matTheme);
    @include mat.table-color($matTheme);
}
