@use "sass:map";
@use '@angular/material' as mat;

@mixin define($themeConfig, $darkTheme, $colorsOnly: false) {
    $matTheme: null;
    $primary-palette: map.get($themeConfig, 'color', 'primary');
    $accent-palette: map.get($themeConfig, 'color', 'accent');
    $warn-palette: map.get($themeConfig, 'color', 'warn');

    @if $darkTheme {
        $matTheme: mat.define-dark-theme($themeConfig);

        --app-component-docs-code-color: white;
        --app-component-docs-code-background: rgba(255,255,255,.06);
        --app-code-example-border-color: rgba(255,255,255,.2)
    } @else {
        $matTheme: mat.define-light-theme($themeConfig);
        --app-component-docs-code-color: black;
        --app-component-docs-code-background: rgba(0,0,0,.06);
        --app-code-example-border-color: rgba(0,0,0,.2)
    }

    --app-color-primary: #{mat.get-color-from-palette($primary-palette)};
    --app-color-primary-lighter: #{mat.get-color-from-palette($primary-palette, 'lighter')};
    --app-color-primary-darker: #{mat.get-color-from-palette($primary-palette, 'darker')};
    --app-color-primary-contrast: #{mat.get-color-from-palette($primary-palette, 'default-contrast')};

    --app-color-accent: #{mat.get-color-from-palette($accent-palette)};
    --app-color-accent-lighter: #{mat.get-color-from-palette($accent-palette, 'lighter')};
    --app-color-accent-darker: #{mat.get-color-from-palette($accent-palette, 'darker')};
    --app-color-accent-contrast: #{mat.get-color-from-palette($accent-palette, 'default-contrast')};

    --app-color-warn: #{mat.get-color-from-palette($warn-palette)};
    --app-color-warn-lighter: #{mat.get-color-from-palette($warn-palette, 'lighter')};
    --app-color-warn-darker: #{mat.get-color-from-palette($warn-palette, 'darker')};
    --app-color-warn-contrast: #{mat.get-color-from-palette($warn-palette, 'default-contrast')};


    @if $colorsOnly {
        @include mat.all-component-colors($matTheme);
    } @else {
        @include mat.all-component-themes($matTheme);
    }
}
