$namespace: 'dm';
$namespace-separator: \:;

// values represent minimum px requirement
// Values taken from: https://tailwindcss.com/docs/responsive-design
$responsive-breakpoints: (
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    xxl: 1536px
);
$responsive-namespace-separator: \:;

$grid-columns: (
    1: 8.3333%,
    2: 16.6667%,
    3: 25%,
    4: 33.3333%,
    5: 41.6667%,
    6: 50%,
    7: 58.3333%,
    8: 66.6667%,
    9: 75%,
    10: 83.3333%,
    11: 91.6667%,
    12: 100%
);

$grid-columns-padding: .35rem;
