// Based on bootstrap's grid system
// https://getbootstrap.com/docs/4.0/layout/grid/
// Also checkout this very good guide on flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
@use 'config';
@use 'utilities';

@mixin main {
    @include utilities.generate-class('grid', (
        'display': flex,
        'flex-wrap': wrap,
        'box-sizing': border-box,
        'padding-top': calc(var(--dm-config-grid-columns-padding) * -1),
        'padding-right': calc(var(--dm-config-grid-columns-padding) * -1),
        'padding-left': calc(var(--dm-config-grid-columns-padding) * -1),
    ), false) {
        --dm-config-grid-columns-padding: .35rem;

        &> * {
            box-sizing: border-box;
            flex: 0 0 auto;
            width: 100%;
            max-width: 100%;
            padding-top: var(--dm-config-grid-columns-padding);
            padding-right: var(--dm-config-grid-columns-padding);
            padding-left: var(--dm-config-grid-columns-padding);
        }
    };

    @include utilities.generate-class('col', (
        'flex-grow': 1,
        'flex-basis': 0
    ), false);

    @include utilities.generate-class('col-fixed', (
        'flex': 0 0 auto
    ), false);

    @each $col, $width in config.$grid-columns {
        @include utilities.generate-class(col-#{$col}, (
            'width': $width
        ), false);
    }

    @include utilities.generate-responsive-media using($breakpoint)  {
        @each $col, $width in config.$grid-columns {
            @include utilities.generate-class($breakpoint + '' + config.$responsive-namespace-separator + 'col-' + $col, null, false) {
                width: $width;
            }
        }
    }
}
